body {
    font-size: 13px;
}

.container-fluid .row{
    margin-top: 70px;
}

a.list-group-item {
    border-color: gainsboro;
    padding-left: 10px; 
    padding-right: 10px;
    position: relative;
    vertical-align: middle;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #EAFBE6;
    color: #487EFD;
    border-color: gainsboro;
}

a.list-group-item>span {
    color: black;
    margin: auto;
    margin-top: -0.625em;
    top: 50%;
}

a.list-group-item>span.menu-title {
    margin-right: 40px;
    margin-left: 20px;
    color: #487EFD;
    display: block;
}

span.remove-button {
    position: absolute;
    right: 10px;
    width: 10px;
}

span.edit-button {
    position: absolute;
    right: 25px;
    width: 10px;
}

span.move-button {
    position: absolute;
    left: 10px;
    width: 10px;
}